h2 {
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: all;
    transform: animate  0.5s;
}

@keyframes animate {
    0% {
        rotate: 0deg;
    }
    to 100% {
        rotate: 360deg;
    }
}